@font-face {
	font-family: Graphik-Regular-Web;
	src: url(Graphik-Regular-Web.eot);
	src: url(Graphik-Regular-Web.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	background: #14181c;
	font-family: Graphik-Regular-Web,sans-serif;
	color: #9ab;
}

#calendar {
	max-width: 1000px;
	margin: 50px auto;
}

.fc-today {
	background: #678 !important;
}

.fc-today > .fc-day-number {
	color: #fff;
}

.fc-left > h2 {
	color: white;
}

.fc td, .fc th {
	border-color: #2c3641 !important;
}

.fc-content {
	text-overflow: ellipsis;
}

.lb-spinner {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 8px;
	margin-right: 7px;
	position: relative;
	vertical-align: middle;
	top: -1px;
	animation: spinY 2s infinite;
	animation-timing-function: cubic-bezier(.3,.64,.69,.36);
}

@keyframes spinY {
	0% {
		transform: rotateY(90deg);
		background: #ff9933;
	}
	33.3% {
		transform: rotateY(270deg);
		background: #ff9933;
	}
	33.31% {
		transform: rotateY(90deg);
		background: #66cc33;
	}
	66.6% {
		transform: rotateY(270deg);
		background: #66cc33;
	}
	66.61% {
		transform: rotateY(90deg);
		background: #99ccff;
	}
	100% {
		transform: rotateY(270deg);
		background: #99ccff;
	}
}
